{
  "root": true,
  "env": {
    "browser": true
  },
  "globals": {
    "ScrollIntoViewOptions": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "unused-imports"],
  "extends": ["@frank-mayer/eslint-config"],
  "rules": {}
}
