.document {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    align-items: flex-start;
    padding-bottom: 2rem;

    &__subtitle {
        font-size: 1.5rem;
        font-weight: 700;
        margin: {
            bottom: 0.75rem;
            top: 3rem;
        }
    }

    &__banner {
        height: 10vmin;
        display: block;
        width: calc(100% - 0.5rem);
        background-color: white;
        padding: 0 1rem;

        > * {
            display: inline-block;
            height: 10vmin;
        }
    }
}
