.document {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    align-items: flex-start;
    padding-bottom: 2rem;

    &__subtitle {
        font-size: 1.5rem;
        font-weight: 700;
        margin: {
            bottom: 0.75rem;
            top: 3rem;
        }
    }
}
