@use "theme";

.game {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 0px 0px;
    grid-template-areas:
        "chapter-title"
        "dialog-history"
        "dialog-input";
    align-items: start;
    justify-items: stretch;
    align-content: space-between;

    &__chapter-title {
        grid-area: chapter-title;
        font-size: 2rem;
    }

    &__top-bar {
        display: block;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        overflow-y: visible !important;
        border: {
            bottom: {
                width: 1px;
                style: solid;
                color: var(--foreground-4);
            }
        }
        margin: {
            bottom: 0.5rem;
        }
    }

    &__home,
    &__settings,
    &__skip {
        cursor: pointer !important;
        * {
            cursor: pointer !important;
        }
        position: relative;
        overflow: visible !important;
        width: 2rem;
        height: 2rem;

        > svg {
            height: 100%;
            width: 100%;
        }

        &:hover::after {
            pointer-events: none;
            background-color: var(--foreground-8);
            border-radius: 2px;
            backdrop-filter: blur(16px);
            font-size: 0.75rem;
            padding: 0.1em 0.25em;
            position: absolute;
            display: block;
            top: 100%;
            left: 50%;
            width: fit-content;
            transform: translateX(-50%);
        }
    }

    &__home:hover::after {
        content: "Hauptmenü";
    }

    &__settings:hover::after {
        content: "Optionen";
    }

    &__skip:hover::after {
        content: "Überspringen";
    }

    &__nav {
        display: block;
        overflow: visible !important;
        > * {
            display: inline-block;
        }
    }

    &__dialog-input {
        grid-area: dialog-input;
        margin-top: 2rem;
    }

    .dialog-input {
        &__choice {
            display: block;
            text-align: left;
            @include theme.button;
        }
    }

    &__dialog-speaker {
        opacity: 0.5;
    }

    .dialog-history {
        grid-area: dialog-history;
        max-height: 100%;
        overflow-y: auto;
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-gap: 2rem 1rem;
        padding: {
            left: 1rem;
            right: 1rem;
        }

        &__speaker > * {
            display: block;
        }

        &__text {
            &--player-voice,
            &--npc-voice {
                max-width: fit-content;
                min-height: 100%;
                padding: 0.5rem 1rem;
            }

            &--player-voice {
                background-color: var(--foreground-10);
                margin-left: auto;
            }

            &--npc-voice {
                background-color: var(--foreground-8);
                margin-right: auto;
            }
        }

        &__text,
        &__speaker {
            height: fit-content;
            white-space: break-spaces;
            animation: {
                duration: 500ms;
                timing-function: linear;
            }

            &--narrator-voice {
                font-style: italic;
                font-weight: 300;
                text-align: center;
            }

            &--npc-voice,
            &--narrator-voice {
                animation-name: dialog-in-npc;
            }

            &--npc-voice {
                text-align: left;
            }

            &--player-voice {
                animation-name: dialog-in-player;
                text-align: right;
            }

            &--image {
                width: 2rem;
                height: 2rem;
            }
        }
    }
}

@media (max-width: 512px) {
    .game {
        &__chapter-title {
            font-size: 1.25rem !important;
        }

        .dialog-input {
            &__choice {
                padding: 0.5rem 0.75rem !important;
            }
        }
    }
}
