@use "theme";

.game {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 0px 0px;
    grid-template-areas:
        "chapter-title"
        "dialog-history"
        "dialog-input";
    align-items: start;
    justify-items: stretch;
    align-content: space-between;

    &__chapter-title {
        grid-area: chapter-title;
        font-size: 2rem;
        border: {
            bottom: {
                width: 1px;
                style: solid;
                color: var(--foreground-4);
            }
        }
        margin: {
            bottom: 0.5rem;
        }
    }

    &__dialog-input {
        grid-area: dialog-input;
        margin-top: 2rem;
    }

    .dialog-input {
        &__choice {
            display: block;
            text-align: left;
            @include theme.button;
        }
    }

    &__dialog-speaker {
        opacity: 0.5;
    }

    .dialog-history {
        grid-area: dialog-history;
        max-height: 100%;
        overflow-y: scroll;
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-gap: 2rem 1rem;
        padding: {
            left: 1rem;
            right: 1rem;
        }

        &__speaker > * {
            display: block;
        }

        &__text {
            &--player-voice,
            &--npc-voice {
                background-color: var(--foreground-8);
                padding: 0.5rem 1rem;
            }
        }

        &__text,
        &__speaker {
            height: fit-content;
            white-space: break-spaces;
            animation: {
                duration: 500ms;
                timing-function: linear;
            }

            &--narrator-voice {
                font-style: italic;
                font-weight: 300;
            }

            &--npc-voice,
            &--narrator-voice {
                animation-name: dialog-in-npc;
            }

            &--player-voice {
                animation-name: dialog-in-player;
            }

            &--image {
                width: 2rem;
                height: 2rem;
            }
        }

        &__text,
        &__speaker {
            &--npc-voice {
                text-align: left;
            }

            &--player-voice {
                text-align: right;
            }

            &--narrator-voice {
                text-align: center;
            }
        }
    }
}
