@use "reset";
@use "keyframes";
@use "theme";
@use "menu";
@use "game";
@use "scrollbar";
@use "document";

@media (max-width: 512px) {
    :root {
        font-size: 0.75rem;
    }
}

:root[data-dark-mode="true"] {
    --background: #{theme.$background};
    --foreground: #{theme.$foreground};
    --foreground-2: #{theme.$foreground}80;
    --foreground-4: #{theme.$foreground}40;
    --foreground-8: #{theme.$foreground}20;
}

:root[data-dark-mode="false"] {
    --background: #{theme.$foreground};
    --foreground: #{theme.$background};
    --foreground-2: #{theme.$background}80;
    --foreground-4: #{theme.$background}40;
    --foreground-8: #{theme.$background}20;
}

:root {
    background-color: var(--background) !important;
}

:root,
body,
#app {
    overflow: hidden;
}

*,
*:before,
*:after {
    color: var(--foreground);
    font-family: "JetBrains Mono", "Fira Code", "Source Code Pro",
        "DejaVu Sans Mono", "Courier New", monospace;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

svg {
    fill: currentColor;
}

:root,
body,
#app {
    height: 100vh;
    width: 100vw;
    display: block;
}

#app {
    max-width: 1560px;
    padding: 1rem;
    margin: {
        left: auto;
        right: auto;
    }
}

:root[data-reduced-motion="true"] #app {
    *,
    *::after,
    *::before {
        animation: none !important;
        transition: none !important;
    }
}

:root[data-contrast="more"] {
    filter: contrast(1.5) !important;
}

:root[data-contrast="less"] {
    filter: contrast(0.5) brightness(1.25) !important;
}
