@use "reset";
@use "keyframes";
@use "theme";
@use "menu";
@use "game";
@use "scrollbar";
@use "document";
@use "sass:color";

@media (max-width: 512px) {
    :root {
        font-size: 0.7rem;
    }
}

:root[data-dark-mode="true"] {
    --background: #{theme.$background};
    --foreground: #{theme.$foreground};
    --foreground-2: #{mix(theme.$foreground, theme.$background, $weight: 80%)};
    --foreground-4: #{mix(theme.$foreground, theme.$background, $weight: 40%)};
    --foreground-8: #{mix(theme.$foreground, theme.$background, $weight: 20%)};
    --foreground-10: #{mix(theme.$foreground, theme.$background, $weight: 10%)};
}

:root[data-dark-mode="false"] {
    --background: #{theme.$foreground};
    --foreground: #{theme.$background};
    --foreground-2: #{mix(theme.$background, theme.$foreground, $weight: 80%)};
    --foreground-4: #{mix(theme.$background, theme.$foreground, $weight: 40%)};
    --foreground-8: #{mix(theme.$background, theme.$foreground, $weight: 20%)};
    --foreground-10: #{mix(theme.$background, theme.$foreground, $weight: 10%)};
}

:root {
    background-color: var(--background) !important;
}

:root,
body,
#app,
footer {
    overflow: hidden;
}

body {
    display: grid !important;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    gap: 0;
    grid-template-areas:
        "app"
        "footer";

    #app {
        grid-area: app;
    }

    footer {
        grid-area: footer;
    }
}

#app,
footer {
    width: 100vw;
    display: block;
    max-width: 1560px;
    padding: 0.25rem 1rem;
    margin: {
        left: auto;
        right: auto;
    }
}

footer {
    a {
        cursor: pointer !important;
    }
}

*,
*:before,
*:after {
    color: var(--foreground);
    font-family: "JetBrains Mono", "Fira Code", "Source Code Pro",
        "DejaVu Sans Mono", "Courier New", monospace;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

svg {
    fill: currentColor;
}

select {
    option {
        background: var(--foreground-8) !important;
        color: var(--foreground);
    }
}

:root,
body {
    height: 100vh;
    width: 100vw;
    display: block;
}

:root[data-reduced-motion="true"] #app {
    *,
    *::after,
    *::before {
        animation: none !important;
        transition: none !important;
    }
}

:root[data-contrast="more"] {
    filter: contrast(1.5) !important;
}

:root[data-contrast="less"] {
    filter: contrast(0.5) brightness(1.25) !important;
}
