@use "theme";

.main-menu {
  height: 100%;
  display: grid;
  place-content: space-evenly;
  justify-content: start;
  align-items: center;
  justify-items: start;

  .menu-title {
    font-size: theme.font-size(2.2);
  }

  .menu-subtitle {
    color: rgba(theme.$foreground, 0.5);
  }

  .menu-item {
    display: block;
    font-size: theme.font-size(1);
    @include theme.button;
  }
}
