@use "theme";

.menu {
    height: 100%;
    display: grid;
    place-content: space-evenly;
    justify-content: start;
    align-items: center;
    justify-items: start;

    &__title {
        font-size: 2.2rem;
    }

    &__subtitle {
        color: var(--foreground-2);
    }

    &__item {
        display: block;
        font-size: 1rem;
        @include theme.button;
    }
}
